[MASTER]
init-hook='import sys; sys.path.insert(0, "benchmark"); sys.path.insert(0, "src/bitcoin_indexer")'

[FORMAT]
max-line-length=250

[IMPORTS]
known-third-party=db,logger,rpc,context_manager,benchmark,exceptions

[MESSAGES CONTROL]
disable=
    fixme,
    too-few-public-methods,
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring,
